.App {
  text-align: center;
}

body {
  text-align: center;
}

.mainHeader {
  padding: 50px 2%;
  text-align: center;
}

.planetCard {
  height: 100px;
  width: 150px;
}

.solar-system {
  display: flex;
}
